{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.kraken.com/0",
      "description": "Production Server"
    }
  ],
  "info": {
    "title": "REST API",
    "version": "1.1.0",
    "x-logo": {
      "url": "kraken_logo_w.png",
      "altText": "Kraken Logo"
    },
    "description": "# General Usage\nThis document details use of Kraken's REST API for our Spot exchange. The Spot exchange [Websockets API](https://docs.kraken.com/websockets) and the [Kraken Futures APIs](https://docs.futures.kraken.com/) are documented separately. Our REST API is organised into publicly accessible endpoints (market data, exchange status, etc.), and private authenticated endpoints (trading, funding, user data) which require requests to be signed.\n\nYour use of the Kraken REST API is subject to the [Kraken Terms & Conditions](https://www.kraken.com/legal), [Privacy Notice](http://www.kraken.com/legal/privacy), as well as all other applicable terms and disclosures made available on [www.kraken.com](http://www.kraken.com/).\n\nYou must seek our prior permission for any non personal commercial use of the Kraken REST API, this includes, but is not limited to, any non personal commercial use of market data, exchange status, etc. available via the publicly available endpoints. You may seek such permission by contacting [marketdata@kraken.com](mailto:marketdata@kraken.com).\n\n## Support\nFurther information and FAQs may be found on the [API section](https://support.kraken.com/hc/en-us/sections/4402371110548-API) of our support pages. If you have trouble making any standard requests that our system permits, please [send us a ticket](https://support.kraken.com/hc/en-us/requests/new?ticket_form_id=360000104043) with a full copy of the request(s) that you're attempting, including your IP address and all headers, so that we may investigate further.\n\n## Requests, Responses and Errors\n\n### Requests\nRequest payloads are [form-encoded](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) (`Content-Type: application/x-www-form-urlencoded`), and all requests must specify a `User-Agent` in their headers.\n\n### Responses\nResponses are JSON encoded and contain one or two top-level keys (`result` and `error` for successful requests or those with warnings, or only `error` for failed or rejected requests)\n\n#### Example Successful Response\n```javascript\n{\n  \"error\": [],\n  \"result\": {\n    \"status\": \"online\",\n    \"timestamp\": \"2021-03-22T17:18:03Z\"\n  }\n}\n```\n> GET https://api.kraken.com/0/public/SystemStatus\n\n#### Example Rejection\n```javascript\n{\n  \"error\": [\n    \"EGeneral:Invalid arguments:ordertype\"\n  ]\n}\n```\n\n### Error Details\n\nHTTP status codes are generally not used by our API to convey information about the state of requests -- any errors or warnings are denoted in the `error` field of the response as described above. Status codes __other__ than 200 indicate that there was an issue with the request reaching our servers.\n\n`error` messages follow the general format `<severity><category>`:`<error msg>`[`:add'l text`]\n\n* `severity` can be either `E` for error or `W` for warning\n* `category` can be one of `General`, `Auth`, `API`, `Query`, `Order`, `Trade`, `Funding`, or `Service`\n* `error msg` can be any text string that describes the reason for the error\n\n#### Some Common Examples\n\n| Error | Additional Info |\n| -- | -- |\n| EGeneral:Invalid arguments | The request payload is malformed, incorrect or ambiguous |\n| EGeneral:Invalid arguments:Index unavailable |  Index pricing is unavailable for stop/profit orders on this pair |\n| EGeneral:Temporary lockout | Too many sequential EAPI:Invalid key errors |\n| EService:Unavailable | The matching engine or API is offline |\n| EService:Market in cancel_only mode | Request can't be made at this time (See `SystemStatus` endpoint) |\n| EService:Market in post_only mode | Request can't be made at this time (See `SystemStatus` endpoint) |\n| EService:Deadline elapsed | The request timed out according to the default or specified `deadline` |\n| EAPI:Invalid key | An invalid `API-Key` header was supplied (see Authentication section) |\n| EAPI:Invalid signature | An invalid `API-Sign` header was supplied (see Authentication section) |\n| EAPI:Invalid nonce | An invalid `nonce` was supplied (see Authentication section) |\n| EGeneral:Permission denied | API key doesn't have permission to make this request |\n| EOrder:Cannot open position | User/tier is ineligible for margin trading |\n| EOrder:Margin allowance exceeded | User has exceeded their margin allowance |\n| EOrder:Margin level too low | Client has insufficient equity or collateral |\n| EOrder:Margin position size exceeded | Client would exceed the maximum position size for this pair |\n| EOrder:Insufficient margin | Exchange does not have available funds for this margin trade |\n| EOrder:Insufficient funds | Client does not have the necessary funds |\n| EOrder:Order minimum not met | Order size does not meet `ordermin` (See `AssetPairs` endpoint)  |\n| EOrder:Cost minimum not met | Cost (price * volume) does not meet `costmin` (See `AssetPairs` endpoint) |\n| EOrder:Tick size check failed | Price submitted is not a valid multiple of the pair's tick_size (See `AssetPairs` endpoint) |\n| EOrder:Orders limit exceeded | (See Rate Limits section) |\n| EOrder:Rate limit exceeded | (See Rate Limits section) |\n| EOrder:Domain rate limit exceeded | (See Rate Limits section) |\n| EOrder:Positions limit exceeded |  |\n| EOrder:Unknown position |  |\n| EBM:limit exceeded:CAL | Exceeded [Canadian Acquisition Limits (CAL)](https://support.kraken.com/hc/en-us/articles/15568473780628-CAD-net-purchase-limits-for-certain-cryptocurrencies-in-Canada) |\n| EFunding:Max fee exceeded | Processed fee exceeds `max_fee` set in `Withdraw` request |\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360001491786-API-error-messages).\n\n\n\n# Authentication\n\nAuthenticated requests must include both `API-Key` and `API-Sign` HTTP headers, and `nonce` in the request payload. `otp` is also required in the payload if two-factor authentication (2FA) is enabled.\n\n\n## Nonce and 2FA\n\n### `nonce`\n\nNonce must be an always increasing, unsigned 64-bit integer, for each request that is made with a particular API key. While a simple counter would provide a valid nonce, a more usual method of generating a valid nonce is to use e.g. a UNIX timestamp in milliseconds.\n\n> **Note:** There is no way to reset the nonce for an API key to a lower value, so be sure to use a nonce generation method that won't produce numbers less than the previous nonce. Too many requests with invalid nonces (EAPI:Invalid nonce) can result in temporary bans. Problems can arise from requests arriving out of order due to API keys being shared across processes, or from system clock drift/recalibration. An optional \"nonce window\" can be configured to specify a tolerance between nonce values. Additional info can be found in our [support pages](https://support.kraken.com/hc/en-us/articles/360000906023-What-is-a-nonce-).\n\n### `otp`\n\nIf two-factor authentication (2FA) is enabled for the API key and action in question, the one time password must be specified in the payload's `otp` value.\n\n\n## Headers and Signature\n\nAll responses will include the `x-trace-id` header. This uniquely identifies your request. When contacting support, please include a trace-id where possible.\n\n<SecurityDefinitions />\n\n# Rate Limits\n\nWe have various safeguards in place to protect against system abuse, order book manipulation, DDoS attacks, etc. For REST API requests, these are broadly organised into rate limits specific to the REST API, and rate limits which apply to any trading requests.\n\n> __Note:__ For clients with performance sensitive applications, we strongly recommend the use of our Websockets API for minimising request latency and receiving real-time information, reducing or eliminating the need to frequently poll REST endpoints.\n\n## REST API Rate Limits\n\n### Limits\n\nEvery REST API user has a \"call counter\" which starts at `0`. Ledger/trade history calls increase the counter by `2`. All other API calls increase this counter by `1` (except AddOrder, CancelOrder which operate on a different limiter detailed further below).\n\n| Tier         | Max API Counter | API Counter Decay |\n| ------------ | --------------- | ----------------- |\n| Starter      | 15              | -0.33/sec         |\n| Intermediate | 20              | -0.5/sec          |\n| Pro          | 20              | -1/sec            |\n\nThe user's counter is reduced every couple of seconds depending on their verification tier. Each API key's counter is separate, and if the counter exceeds the maximum value, subsequent calls using that API key would be rate limited. If the rate limits are reached, additional calls will be restricted for a few seconds (or possibly longer if calls continue to be made while the rate limits are active).\n\n> __Note:__ Master accounts and subaccounts will share the same default trading rate limits as determined by the master account's tier.\n\n### Errors\n\n* \"EAPI:Rate limit exceeded\" if the REST API counter exceeds the user's maximum.\n* \"EService: Throttled: [UNIX timestamp]\" if there are too many concurrent requests. Try again after [timestamp].\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/206548367-What-are-the-API-rate-limits-).\n\n## Matching Engine Rate Limits\n\n### Limits\n\nSeparate limits apply to the number of orders clients may have open in each pair at a time, and the speed with which they may add and cancel orders in each pair. These limits vary by the account verification tier:\n\n| Tier      | Max Num Orders | Max Ratecount | Ratecount Decay |\n| ----------- | ----------- | ----------- | ----------- |\n| Starter      | 60       | 60 | -1/sec |\n| Intermediate   | 80 | 125 | -2.34/sec |\n| Pro     | 225 | 180 | -3.75/sec |\n\n### Penalties\n\nThe speed is controlled by a ratecounter for each (client, pair) which starts at zero, is incremented when penalties are applied, and decremented according to the decay rates above. A penalty is added to the ratecounter for each new order placed (`AddOrder`) or cancelled (`CancelOrder`, `CancelAll`, `CancelAllOrdersAfter`) on the pair. The cancellation penalty varies according to the lifetime of the order.\n\n| Action       |      | <5sec  | <10sec | <15sec | <45sec | <90sec | <300s | >300s |\n| ------------ | --   | -- | -- | -- | -- | -- | -- | -- |\n| Add Order    | +1   |    |    |    |    |    |    |    |\n| AddOrderBatch***| +(n/2)|    |    |    |    |    |    |    |\n| Edit Order   |      | +6 | +5 | +4 | +2 | +1 | 0  | 0  |\n| Cancel Order |      | +8 | +6 | +5 | +4 | +2 | +1 | 0 |\n| CancelOrderBatch** |      | +8 | +6 | +5 | +4 | +2 | +1 | 0 |\n\n*** n is number of orders in batch\n\n** Rate limits penalty for CancelOrderBatch will be cumulative sum of individual orders penalty, accumulated upto max ratecount. In case, the cumulative penalty in the batch exceeds max ratecount, cancel requests in batch are still accepted.\n\n> __Note:__ A client's exact ratecounter values can be monitored via the Websockets [openOrders](https://docs.kraken.com/websockets/#message-openOrders) feed.\n\n### Errors\n\n* \"EOrder:Orders limit exceeded\" if the number of open orders in a given pair is exceeded\n* \"EOrder:Rate limit exceeded\" if the user's max ratecount is exceeded for a given pair\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360045239571).\n\n# Changelog\n\n* Mar 2024 - Removed `Staking` section, deprecated and no longer supported.\n* Feb 2024 - Added `maker` and `ledgers` fields to `TradesHistory` and `QueryTrades`. Added NFT Market Data and Trading documentation.\n* Jan 2024 - Removed support for POST requests to all public endpoints; these requests will now return a 4xx error, please use a GET request instead. Added notes to Balance and Ledger endpoints on migration from Staking to Earn and asset suffixes.\n* Dec 2023 - Added support for `trailing-stop` and `trailing-stop-limit` order types.\n* Nov 2023 - Added `WithdrawMethods` and `WithdrawAddresses` endpoints, and `start`, `end`, `cursor`, and `limit` parameters to `WithdrawStatus`.\n* Oct 2023 - Added `max_fee` parameter to `Withdraw` and `minimum` field in response for `DepositMethods`.\n* Sep 2023 - Added `start`, `end`, `cursor`, and `limit` parameters to `DepositStatus`.\n* Aug 2023 - Added Earn service documentation.\n* July 2023 - Added private `BalanceEx` documentation.\n* June 2023 - Added `amount` parameter to `DepositAddresses`, required for Bitcoin Lightning deposits. Added `count` parameter to `Trades`.\n* May 2023 - Added `address` parameter to `Withdraw`. Added `since` parameter to `Spread`.\n* Mar 2023 - Added `originators` paramater to `DepositStatus`.\n* Feb 2023 - Added long and short margin position limits to `AssetPairs`.\n* Feb 2023 - Specified minimum and maximum number of `txid`s and `userref`s for `CancelOrderBatch`.\n* Feb 2023 - Specified maximum number of responses for `DepositStatus` and `WithdrawStatus`.\n* Feb 2023 - Noted to use `%2b` instead of `+` for URL encoding in `AddOrder` `starttm` and `expiretm` parameters.\n* Jan 2023 - Removed requirement for `asset` in `DepositStatus` and `WithdrawalStatus`.\n* Jan 2023 - Documented `reduce_only` parameter in `AddOrder` and `AddOrderBatch`.\n* Jan 2023 - Added `consolidate_taker` to `TradesHistory`, `ClosedOrders`, and `QueryOrders`.\n* Jan 2023 - Added Subaccounts section with `CreateSubaccount` and `AccountTransfer` endpoints.\n* Jan 2023 - Added `trade_id` to private `TradesHistory`.\n* Dec 2022 - Fixed `pair` parameter restriction on `TradeVolume`.\n* Dec 2022 - `EditOrder` allowed on margin orders.\n* Nov 2022 - Added `tick_size` and `status` parameters to `AssetPairs`, `status` and `collateral_value` to `Assets`, and `trade_id ` to public `Trades`.\n* Oct 2022 - Documented `uv` (unexecuted value) field in `TradeBalance`.\n* Oct 2022 - Added `costmin` trading parameter to `AssetPairs`.\n* Oct 2022 - `Ticker` wildcard support - `pair` no longer required, no `pair` parameter returns tickers for all tradeable exchange assets.\n* Sep 2022 - `AddOrder`/`EditOrder`/`AddOrderBatch` now support icebergs.\n* July 2022 - Added support for restricting API keys to specified IP address(es)/range.\n* June 2022 - Added custom self trade prevention options.\n* May 2022 - Added new REST `AddOrderBatch` endpoint to send multiple new orders and `CancelOrderBatch` endpoint to cancel multiple open orders.\n* Mar 2022 - Added new REST `EditOrder` endpoint to edit volume and price on open orders.\n* Dec 2021 - Added REST `AddOrder` support for optional parameter `trigger` and values `last` (last traded price) and `index`.\n\n\n\n**Note:** Most changes affecting our APIs or trading engine behaviour are currently being tracked on our [Websockets](https://docs.kraken.com/websockets/#changelog) changelog, until these documents are combined.\n\n# Example API Clients\n\nIn order to achieve maximum performance, security and flexibility for your particular needs, we strongly encourage the implementation of this API with your own code, and to minimise reliance on third party software.\n\nThat being said, in order to aid with rapid development and prototyping, we're in the process of producing 'official' API clients in Python and Golang that will be actively maintained, coincident with the release of newer versions of both our Websockets and REST APIs. In the meantime, our Client Engagement team has compiled a number of [code snippets, examples and Postman collections](https://support.kraken.com/hc/en-us/sections/360003946512-Example-API-Code) that many find useful.\n\n### Third Party Software\n\nBelow are other third party API client code libraries that may be used when writing your own API client. Please keep in mind that Payward nor the third party authors are responsible for losses due to bugs or improper use of the APIs. Payward has performed an initial review of the safety of the third party code before listing them but cannot vouch for any changes added since then, or for those that may be stale. If you have concerns, please contact support.\n\n| Language      | Link |\n| ----------- | ----------- |\n| C++ | [https://github.com/voidloop/krakenapi](https://github.com/voidloop/krakenapi) |\n| Golang | [https://github.com/Beldur/kraken-go-api-client](https://github.com/Beldur/kraken-go-api-client) |\n| Python 3 | [https://github.com/veox/python3-krakenex](https://github.com/veox/python3-krakenex)       |\n\nOther\n"
  },
  "paths": {
    "/public/Time": {
      "get": {
        "tags": [
          "Spot Market Data"
        ],
        "summary": "Get Server Time",
        "x-summary": "Test123",
        "description": "Get the server's time.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getServerTime",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/time"
                },
                "example": {
                  "error": [],
                  "result": {
                    "unixtime": 1688669448,
                    "rfc1123": "Thu, 06 Jul 23 18:50:48 +0000"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Time\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Time')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/SystemStatus": {
      "get": {
        "tags": [
          "Spot Market Data"
        ],
        "summary": "Get System Status",
        "description": "Get the current system status or trading mode.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getSystemStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "online",
                            "maintenance",
                            "cancel_only",
                            "post_only"
                          ],
                          "description": "Current system status:\n* `online`  Kraken is operating normally. All order types may be submitted and trades can occur.\n* `maintenance`  The exchange is offline. No new orders or cancellations may be submitted.\n* `cancel_only`  Resting (open) orders can be cancelled but no new orders may be submitted. No trades will occur.\n* `post_only`  Only post-only limit orders can be submitted. Existing orders may still be cancelled. No trades will occur.\n"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "Current timestamp (RFC3339)"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "status": "online",
                    "timestamp": "2023-07-06T18:52:00Z"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/SystemStatus\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/SystemStatus')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Assets": {
      "get": {
        "tags": [
          "Spot Market Data"
        ],
        "summary": "Get Asset Info",
        "description": "Get information about the assets that are available for deposit, withdrawal, trading and earn.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getAssetInfo",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset"
          },
          {
            "$ref": "#/components/parameters/aclass"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/info-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBT": {
                      "aclass": "currency",
                      "altname": "XBT",
                      "decimals": 10,
                      "display_decimals": 5,
                      "collateral_value": 1,
                      "status": "enabled"
                    },
                    "ZEUR": {
                      "aclass": "currency",
                      "altname": "EUR",
                      "decimals": 4,
                      "display_decimals": 2,
                      "collateral_value": 1,
                      "status": "enabled"
                    },
                    "ZUSD": {
                      "aclass": "currency",
                      "altname": "USD",
                      "decimals": 4,
                      "display_decimals": 2,
                      "collateral_value": 1,
                      "status": "enabled"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Assets\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Assets')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/AssetPairs": {
      "get": {
        "tags": [
          "Spot Market Data"
        ],
        "summary": "Get Tradable Asset Pairs",
        "description": "Get tradable asset pairs.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getTradableAssetPairs",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "description": "Asset pairs to get data for",
            "schema": {
              "type": "string"
            },
            "example": "BTC/USD,ETH/BTC"
          },
          {
            "in": "query",
            "name": "info",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "leverage",
                "fees",
                "margin"
              ],
              "default": "info"
            },
            "description": "Info to retrieve (optional)\n\n  * `info` = all info\n  * `leverage` = leverage info\n  * `fees` = fees schedule\n  * `margin` = margin info\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Tradable asset pairs retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Pair names and their info",
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/pairs"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "XETHXXBT": {
                      "altname": "ETHXBT",
                      "wsname": "ETH/XBT",
                      "aclass_base": "currency",
                      "base": "XETH",
                      "aclass_quote": "currency",
                      "quote": "XXBT",
                      "lot": "unit",
                      "cost_decimals": 6,
                      "pair_decimals": 5,
                      "lot_decimals": 8,
                      "lot_multiplier": 1,
                      "leverage_buy": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "leverage_sell": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "fees": [
                        [
                          0,
                          0.26
                        ],
                        [
                          50000,
                          0.24
                        ],
                        [
                          100000,
                          0.22
                        ],
                        [
                          250000,
                          0.2
                        ],
                        [
                          500000,
                          0.18
                        ],
                        [
                          1000000,
                          0.16
                        ],
                        [
                          2500000,
                          0.14
                        ],
                        [
                          5000000,
                          0.12
                        ],
                        [
                          10000000,
                          0.1
                        ]
                      ],
                      "fees_maker": [
                        [
                          0,
                          0.16
                        ],
                        [
                          50000,
                          0.14
                        ],
                        [
                          100000,
                          0.12
                        ],
                        [
                          250000,
                          0.1
                        ],
                        [
                          500000,
                          0.08
                        ],
                        [
                          1000000,
                          0.06
                        ],
                        [
                          2500000,
                          0.04
                        ],
                        [
                          5000000,
                          0.02
                        ],
                        [
                          10000000,
                          0
                        ]
                      ],
                      "fee_volume_currency": "ZUSD",
                      "margin_call": 80,
                      "margin_stop": 40,
                      "ordermin": "0.01",
                      "costmin": "0.00002",
                      "tick_size": "0.00001",
                      "status": "online",
                      "long_position_limit": 1100,
                      "short_position_limit": 400
                    },
                    "XXBTZUSD": {
                      "altname": "XBTUSD",
                      "wsname": "XBT/USD",
                      "aclass_base": "currency",
                      "base": "XXBT",
                      "aclass_quote": "currency",
                      "quote": "ZUSD",
                      "lot": "unit",
                      "cost_decimals": 5,
                      "pair_decimals": 1,
                      "lot_decimals": 8,
                      "lot_multiplier": 1,
                      "leverage_buy": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "leverage_sell": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "fees": [
                        [
                          0,
                          0.26
                        ],
                        [
                          50000,
                          0.24
                        ],
                        [
                          100000,
                          0.22
                        ],
                        [
                          250000,
                          0.2
                        ],
                        [
                          500000,
                          0.18
                        ],
                        [
                          1000000,
                          0.16
                        ],
                        [
                          2500000,
                          0.14
                        ],
                        [
                          5000000,
                          0.12
                        ],
                        [
                          10000000,
                          0.1
                        ]
                      ],
                      "fees_maker": [
                        [
                          0,
                          0.16
                        ],
                        [
                          50000,
                          0.14
                        ],
                        [
                          100000,
                          0.12
                        ],
                        [
                          250000,
                          0.1
                        ],
                        [
                          500000,
                          0.08
                        ],
                        [
                          1000000,
                          0.06
                        ],
                        [
                          2500000,
                          0.04
                        ],
                        [
                          5000000,
                          0.02
                        ],
                        [
                          10000000,
                          0
                        ]
                      ],
                      "fee_volume_currency": "ZUSD",
                      "margin_call": 80,
                      "margin_stop": 40,
                      "ordermin": "0.0001",
                      "costmin": "0.5",
                      "tick_size": "0.1",
                      "status": "online",
                      "long_position_limit": 250,
                      "short_position_limit": 200
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Ticker": {
      "get": {
        "summary": "Get Ticker Information",
        "description": "Get ticker information for all or requested markets. To clarify usage, note that:\n* Today's prices start at midnight UTC\n* Leaving the pair parameter blank will return tickers for all tradeable assets on Kraken\n\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Spot Market Data"
        ],
        "operationId": "getTickerInformation",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/wildcard_pair"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticker-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": {
                      "a": [
                        "30300.10000",
                        "1",
                        "1.000"
                      ],
                      "b": [
                        "30300.00000",
                        "1",
                        "1.000"
                      ],
                      "c": [
                        "30303.20000",
                        "0.00067643"
                      ],
                      "v": [
                        "4083.67001100",
                        "4412.73601799"
                      ],
                      "p": [
                        "30706.77771",
                        "30689.13205"
                      ],
                      "t": [
                        34619,
                        38907
                      ],
                      "l": [
                        "29868.30000",
                        "29868.30000"
                      ],
                      "h": [
                        "31631.00000",
                        "31631.00000"
                      ],
                      "o": "30502.80000"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Ticker?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Ticker?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/OHLC": {
      "get": {
        "summary": "Get OHLC Data",
        "description": "Get OHLC (open/high/low/close, otherwise known as candle) data for a given market. Note that the last entry in the OHLC array is for the current, not-yet-committed frame and will always be present, regardless of the value of `since`.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Spot Market Data"
        ],
        "operationId": "getOHLCData",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "interval",
            "description": "Time frame interval in minutes",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "enum": [
                1,
                5,
                15,
                30,
                60,
                240,
                1440,
                10080,
                21600
              ]
            },
            "example": 60
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return up to 720 OHLC data points since given timestamp",
            "schema": {
              "type": "integer"
            },
            "example": 1548111600
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ohlc"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        1688671200,
                        "30306.1",
                        "30306.2",
                        "30305.7",
                        "30305.7",
                        "30306.1",
                        "3.39243896",
                        23
                      ],
                      [
                        1688671260,
                        "30304.5",
                        "30304.5",
                        "30300.0",
                        "30300.0",
                        "30300.0",
                        "4.42996871",
                        18
                      ],
                      [
                        1688671320,
                        "30300.3",
                        "30300.4",
                        "30291.4",
                        "30291.4",
                        "30294.7",
                        "2.13024789",
                        25
                      ],
                      [
                        1688671380,
                        "30291.8",
                        "30295.1",
                        "30291.8",
                        "30295.0",
                        "30293.8",
                        "1.01836275",
                        9
                      ]
                    ],
                    "last": 1688672160
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/OHLC?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/OHLC?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Depth": {
      "get": {
        "summary": "Get Order Book",
        "description": "Get current order book details.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Spot Market Data"
        ],
        "operationId": "getOrderBook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "count",
            "description": "Maximum number of asks/bids",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Order book entries retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/depth"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": {
                      "asks": [
                        [
                          "30384.10000",
                          "2.059",
                          1688671659
                        ],
                        [
                          "30387.90000",
                          "1.500",
                          1688671380
                        ],
                        [
                          "30393.70000",
                          "9.871",
                          1688671261
                        ]
                      ],
                      "bids": [
                        [
                          "30297.00000",
                          "1.115",
                          1688671636
                        ],
                        [
                          "30296.70000",
                          "2.002",
                          1688671674
                        ],
                        [
                          "30289.80000",
                          "5.001",
                          1688671673
                        ]
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Depth?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Depth?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Returns the last 1000 trades by default.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Spot Market Data"
        ],
        "operationId": "getRecentTrades",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return trade data since given timestamp",
            "schema": {
              "type": "string"
            },
            "example": "1616663618"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Return specific number of trades, up to 1000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Trade data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trades"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        "30243.40000",
                        "0.34507674",
                        1688669597.8277369,
                        "b",
                        "m",
                        "",
                        61044952
                      ],
                      [
                        "30243.30000",
                        "0.00376960",
                        1688669598.2804112,
                        "s",
                        "l",
                        "",
                        61044953
                      ],
                      [
                        "30243.30000",
                        "0.01235716",
                        1688669602.698379,
                        "s",
                        "m",
                        "",
                        61044956
                      ]
                    ],
                    "last": "1688671969993150842"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Trades?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Trades?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Spread": {
      "get": {
        "summary": "Get Recent Spreads",
        "description": "Returns the last ~200 top-of-book spreads for a given pair.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Spot Market Data"
        ],
        "operationId": "getRecentSpreads",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Returns spread data since given timestamp. Optional, intended for incremental updates within available dataset (does not contain all historical spreads).",
            "schema": {
              "type": "integer"
            },
            "example": 1678219570
          }
        ],
        "responses": {
          "200": {
            "description": "Spread data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/spread-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        1688671834,
                        "30292.10000",
                        "30297.50000"
                      ],
                      [
                        1688671834,
                        "30292.10000",
                        "30296.70000"
                      ],
                      [
                        1688671834,
                        "30292.70000",
                        "30296.70000"
                      ]
                    ],
                    "last": 1688672106
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Spread?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Spread?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Nft": {
      "get": {
        "description": "Operation GetNft returns an NFT object by its identifier where identifier is a kraken internal identifier",
        "operationId": "getNft",
        "requestBody": {
          "$ref": "#/components/requestBodies/getNft"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "error": [],
                  "result": {
                    "nft": {
                      "id": "NT4GUCU-SIJE2-YSQQG2",
                      "name": "Williams Racing Collectibles+ Grid Pass",
                      "description": "Grants access to a community of Williams Racing super-fans.",
                      "max_count": 1,
                      "external_url": null,
                      "image": {
                        "kind": "Main",
                        "media": {
                          "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                          "media_type": "image/png",
                          "size": 2152243
                        }
                      },
                      "media": [
                        {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        {
                          "kind": "Video",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                            "media_type": "video/mp4",
                            "size": 243316230
                          }
                        }
                      ],
                      "date_added": 1696526499,
                      "date_minted": 1696525888,
                      "token_uri": "https://nft-metadata.kraken.com/williams-grid-pass/3210",
                      "token": {
                        "blockchain": {
                          "id": "Polygon",
                          "asset": "MATIC"
                        },
                        "id": "3210",
                        "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                        "symbol": "WRGRIDPASS",
                        "standard": "ERC-721",
                        "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                      },
                      "creators": [
                        {
                          "id": "NA7NELE-FOQFZ-ODWOTV",
                          "name": "Williams Racing",
                          "username": " ",
                          "description": "Williams Racing is one of the world’s leading Formula One teams. It exists purely to race in the top echelon of motor racing, where it’s been winning grands prix for more than three decades. The Williams name has been synonymous with top-level motorsport since the 1960s. \n\nAfter running teams on the sport’s nursery slopes, team patron Frank Williams founded Frank Williams (Racing Cars) in 1966 and he entered F1 in 1969 with his friend Piers Courage behind the wheel. Frank quickly earned a reputation as one of the industry’s more determined individuals and after selling his controlling interest in his original team, he established Williams Grand Prix Engineering with British engineer Patrick Head in 1977. They built their first car, the FW06, the following year and the team immediately went from strength-to-strength. \n\nWilliams is now the third most successful team on the grid.",
                          "blockchain_data": [
                            {
                              "blockchain": "Polygon",
                              "address": "0x1c09f530950513666b16da672d5f010fdb66d9da"
                            }
                          ],
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                              "media_type": "image/png",
                              "size": 19582
                            }
                          },
                          "top_banner": {
                            "kind": "TopBanner",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/8d3b4bdc4718e476743627cbacb8903e4d3ffb3289c2cc9795e832b8f2f8ac4d.png",
                              "media_type": "image/png",
                              "size": 6233635
                            }
                          },
                          "media": [
                            {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            {
                              "kind": "TopBanner",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/8d3b4bdc4718e476743627cbacb8903e4d3ffb3289c2cc9795e832b8f2f8ac4d.png",
                                "media_type": "image/png",
                                "size": 6233635
                              }
                            }
                          ],
                          "tags": [],
                          "social_media_links": {
                            "instagram": "https://instagram.com/williamsracing/",
                            "twitter": "https://twitter.com/WilliamsRacing",
                            "web": "https://www.williamsf1.com/",
                            "facebook": "https://facebook.com/WilliamsF1Team"
                          },
                          "verified": true,
                          "date_added": 1696953575
                        }
                      ],
                      "creator_fee": "0.0000",
                      "is_owned_by_user": false,
                      "custody": null,
                      "collection": {
                        "id": "NCQNABO-XYCA7-JMMSDF",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Plus-up your Williams Racing experience with our brand-new Grid Pass, presented by Kraken. Collect your free pass and unlock immediate exclusive digital and physical perks, plus access to unique Williams Racing experiences. The Grid Pass is each holders’ “ignition key” to power the engine of benefits and experiences that the Williams Racing Collectibles+ program will provide.",
                        "date_added": 1696338839,
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                            "media_type": "image/png",
                            "size": 60183
                          }
                        },
                        "top_banner": {
                          "kind": "TopBanner",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/6b69f72e13fcda3e3e0d6839f260cd7a3c4ac644fa4a2cf170c9f47763b5e10c.png",
                            "media_type": "image/png",
                            "size": 488376
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          {
                            "kind": "TopBanner",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/6b69f72e13fcda3e3e0d6839f260cd7a3c4ac644fa4a2cf170c9f47763b5e10c.png",
                              "media_type": "image/png",
                              "size": 488376
                            }
                          }
                        ],
                        "floor_price": {
                          "original": {
                            "asset_name": "AED",
                            "asset_alt_name": "AED",
                            "amount": "1.8400"
                          },
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.5907577600"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.5010"
                          }
                        },
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "description": "Williams Racing is one of the world’s leading Formula One teams. It exists purely to race in the top echelon of motor racing, where it’s been winning grands prix for more than three decades. The Williams name has been synonymous with top-level motorsport since the 1960s. \n\nAfter running teams on the sport’s nursery slopes, team patron Frank Williams founded Frank Williams (Racing Cars) in 1966 and he entered F1 in 1969 with his friend Piers Courage behind the wheel. Frank quickly earned a reputation as one of the industry’s more determined individuals and after selling his controlling interest in his original team, he established Williams Grand Prix Engineering with British engineer Patrick Head in 1977. They built their first car, the FW06, the following year and the team immediately went from strength-to-strength. \n\nWilliams is now the third most successful team on the grid.",
                            "blockchain_data": [
                              {
                                "blockchain": "Polygon",
                                "address": "0x1c09f530950513666b16da672d5f010fdb66d9da"
                              }
                            ],
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "top_banner": {
                              "kind": "TopBanner",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/8d3b4bdc4718e476743627cbacb8903e4d3ffb3289c2cc9795e832b8f2f8ac4d.png",
                                "media_type": "image/png",
                                "size": 6233635
                              }
                            },
                            "media": [
                              {
                                "kind": "Main",
                                "media": {
                                  "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                  "media_type": "image/png",
                                  "size": 19582
                                }
                              },
                              {
                                "kind": "TopBanner",
                                "media": {
                                  "url": "https://assets-dynamic.kraken.com/media1/8d3b4bdc4718e476743627cbacb8903e4d3ffb3289c2cc9795e832b8f2f8ac4d.png",
                                  "media_type": "image/png",
                                  "size": 6233635
                                }
                              }
                            ],
                            "tags": [],
                            "social_media_links": {
                              "web": "https://www.williamsf1.com/",
                              "instagram": "https://instagram.com/williamsracing/",
                              "twitter": "https://twitter.com/WilliamsRacing",
                              "facebook": "https://facebook.com/WilliamsF1Team"
                            },
                            "verified": true,
                            "date_added": 1696953575
                          }
                        ],
                        "total_items": 100000,
                        "total_owners": 0,
                        "total_sales": null,
                        "total_volume": null,
                        "market_cap": null,
                        "seven_day_volume": null,
                        "seven_day_average_price": null,
                        "tags": [],
                        "verified": true,
                        "traits": {},
                        "blockchain_data": [
                          {
                            "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                            "blockchain": {
                              "id": "Polygon",
                              "asset": "MATIC"
                            },
                            "symbol": "WRGRIDPASS"
                          }
                        ],
                        "social_media_links": {
                          "facebook": "https://facebook.com/WilliamsF1Team",
                          "web": "https://www.williamsf1.com/",
                          "instagram": "https://instagram.com/williamsracing/",
                          "twitter": "https://twitter.com/WilliamsRacing"
                        }
                      },
                      "attributes": [],
                      "categories": [],
                      "rarity_rank": null,
                      "tags": [],
                      "on_sale": false,
                      "on_sale_status": "NotListed",
                      "price": {
                        "native": {
                          "asset_name": "MATIC",
                          "asset_alt_name": "MATIC",
                          "amount": "0.0000000000"
                        },
                        "fiat": {
                          "asset_name": "USD",
                          "asset_alt_name": "USD",
                          "amount": "0.0000"
                        }
                      },
                      "buy_now": null,
                      "last_auction_sale": null,
                      "last_sale_or_mint": null,
                      "best_offer": null,
                      "burned": false,
                      "expiry_date": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/getNft"
                }
              }
            },
            "description": "Response"
          }
        },
        "security": [],
        "summary": "Get NFT",
        "tags": [
          "NFT Market Data"
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Nft?nft_id=NT4GUCU-SIJE2-YSQQG2\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\napi_url = \"https://api.kraken.com\"\nuri_path = \"/0/public/Nft?nft_id=NT4GUCU-SIJE2-YSQQG2\"\n\nresp = requests.get((api_url + uri_path))\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Nfts": {
      "get": {
        "description": "Returns a list of NFTs with support for sorting and filtration.",
        "operationId": "listNfts",
        "requestBody": {
          "$ref": "#/components/requestBodies/listNfts"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "error": [],
                  "result": {
                    "total_items": {
                      "relation": "eq",
                      "value": 100000
                    },
                    "cursor": "NuWr7HkEMs9pN4,UBVpe32qpoQplFO5T_HecRDdZEoZzWzfqRVKvUEEVA5P2prYP4ZmWIIBxOBlo9W,q28GJHxCvKukO2ReG8NHsvLMiaX44C17YXda4sWW,BdUC33tqzE_WDCk9i7bYK8M,p3lddZpJxG,UyBKeGPZ2DjTHu,cm1tdQxjaK_plqeSlvVTPwCKdaeFSHIZ5HciRI0XKD8s5fp,P5mIN39GtGUjDmekj8,9VCdPs3dD5GfIUmfwuMNWJln00wsEN,eWkrWUjcCc7eqNDm1OX8f0KhTAlb9XLVZQyEVRi8f9DKhf0T65U-",
                    "items": [
                      {
                        "id": "NTCI6ZY-NBTDN-IP62PI",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99999",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTBRNB5-IMIO6-VYYDJ6",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99998",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTD5GGR-62YXS-TPXJ25",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99997",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTE3TPA-S6CQW-JFKHPH",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99996",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTG2L7E-ONIM2-PKOWCB",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99995",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTVDHXK-Z5SB3-HCIHHL",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
                            "verified": true
                          }
                        ],
                        "collection": {
                          "id": "NCQNABO-XYCA7-JMMSDF",
                          "name": "Williams Racing Collectibles+ Grid Pass",
                          "image": {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/51c66513591958f4e123679890226f890bf255e298e00680acdc141c03b59637.png",
                              "media_type": "image/png",
                              "size": 60183
                            }
                          },
                          "verified": true,
                          "total_items": 100000,
                          "floor_price": {
                            "original": {
                              "asset_name": "AED",
                              "asset_alt_name": "AED",
                              "amount": "1.8400"
                            },
                            "native": {
                              "asset_name": "MATIC",
                              "asset_alt_name": "MATIC",
                              "amount": "0.5907577600"
                            },
                            "fiat": {
                              "asset_name": "USD",
                              "asset_alt_name": "USD",
                              "amount": "0.5010"
                            }
                          }
                        },
                        "is_owned_by_user": false,
                        "custody": null,
                        "on_sale": false,
                        "on_sale_status": "NotListed",
                        "price": {
                          "native": {
                            "asset_name": "MATIC",
                            "asset_alt_name": "MATIC",
                            "amount": "0.0000000000"
                          },
                          "fiat": {
                            "asset_name": "USD",
                            "asset_alt_name": "USD",
                            "amount": "0.0000"
                          }
                        },
                        "buy_now": null,
                        "last_auction_sale": null,
                        "last_sale_or_mint": null,
                        "best_offer": null,
                        "token": {
                          "blockchain": {
                            "id": "Polygon",
                            "asset": "MATIC"
                          },
                          "id": "99994",
                          "address": "0x1c09f530950513666b16da672d5f010fdb66d9da",
                          "symbol": "WRGRIDPASS",
                          "standard": "ERC-721",
                          "owner": "0xfc3e484b7da631b40c3b5495023d161b7ab8cb51"
                        },
                        "burned": false,
                        "rarity_rank": null
                      },
                      {
                        "id": "NTFYE5N-BSHHB-KUDY3A",
                        "name": "Williams Racing Collectibles+ Grid Pass",
                        "description": "Grants access to a community of Williams Racing super-fans.",
                        "image": {
                          "kind": "Main",
                          "media": {
                            "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                            "media_type": "image/png",
                            "size": 2152243
                          }
                        },
                        "media": [
                          {
                            "kind": "Main",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/b51a13042bf7a4a6beaf0bbb17ca4bee10999370aa811fdb68db1f212cf5c98a.png",
                              "media_type": "image/png",
                              "size": 2152243
                            }
                          },
                          {
                            "kind": "Video",
                            "media": {
                              "url": "https://assets-dynamic.kraken.com/media1/177f9cd50f4b6ec154d609aa5862dc608f57bd4338e6ebbf77c77968fe2c0db0.mp4",
                              "media_type": "video/mp4",
                              "size": 243316230
                            }
                          }
                        ],
                        "date_added": 1697127194,
                        "creator_fee": "0.0000",
                        "creators": [
                          {
                            "id": "NA7NELE-FOQFZ-ODWOTV",
                            "name": "Williams Racing",
                            "username": " ",
                            "image": {
                              "kind": "Main",
                              "media": {
                                "url": "https://assets-dynamic.kraken.com/media1/71802e3780ae54ca416845955146ed04a5b059af0d08a66bf03583423f48040f.png",
                                "media_type": "image/png",
                                "size": 19582
                              }
                            },
[...]
